* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  background-color: #ffefef;
}

.container {
  margin-top: 120px;
  flex-direction: column;
  text-align: center;
  justify-self: center;
  gap: 20px;
  max-width: 500px;
}

.container .tenor-gif-embed {
  max-width: 200px;
}

.btn {
  padding-top: 12px;
  max-width: 164px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.yes {
  justify-self: start;
}

.no {
  justify-self: end;
}


.btn a {
  text-decoration: none;
  color: #ffffff;
  background: #ff6b6b;
  padding: 10px 25px;
  border-radius: 8px;
  box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
}
